asgiref==3.2.10
Django==3.1.2
django-cors-headers==3.5.0
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
mysqlclient==2.0.1
pytz==2020.1
redis==3.5.3
sqlparse==0.4.1
ujson==4.0.1
zope.event==4.5.0
zope.interface==5.1.2
