amqp==5.0.2
appnope==0.1.0
asgiref==3.2.10
backcall==0.2.0
billiard==3.6.3.0
celery==5.0.2
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
decorator==4.4.2
Django==3.1.2
django-cors-headers==3.5.0
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
kombu==5.0.2
mysqlclient==2.0.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
ptyprocess==0.6.0
Pygments==2.7.2
pytz==2020.1
redis==3.5.3
six==1.15.0
sqlparse==0.4.1
traitlets==5.0.5
ujson==4.0.1
vine==5.0.0
wcwidth==0.2.5
zope.event==4.5.0
zope.interface==5.1.2
